<% if user_signed_in? %> 
 <div> Bem vindo<%= current_user.email %> </div><br/>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= render "devise/sessions/new" %>
<% end %>
