<% if user_signed_in? %>
 <div class="panel panel-default">
  <div class="panel-body">
    Seja bem vindo
  </div>
  <div class="panel-footer"><%= current_user.username %></div>
</div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-default' %> 
<% else %>
  <%= render "devise/sessions/new" %>
<% end %>
